body{
 
  font-family: "Verdana", sans-serif;
}
*{
  padding:0;
  margin:0;

}


.flexContain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;/* Cho firefox */
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;/* Cho IE */
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Use for auto clear float */
/* ====== https://css-tricks.com/snippets/css/clear-fix/ ======== */
    .group:before,
    .group:after {
      content: "";
      display: table;
    } 
    .group:after {
      clear: both;
    }
    .group {
      zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    }
/* ===== End clear float ====== */

/* End Code Cua Hoang */
/* CSS Khung*/
#warrper{
  position: relative;
}
/*End CSS Khung*/
/*----------------------------------*/
/*CSS Header*/
#header{
  position: relative;
  width:1348px;
  height:180px;
}
#header img{
  width: 250px;
  height:100px;
  margin-top:5px;
}
#header div a{
  text-decoration:none;
  color: red;
  height: 30px;

}
#header div a input{
  height: 30px;
  color:#FF3300;
  border-radius: 5px;
}
.fa-user{
  color:black;
  border-radius: 10px;
  height:20px;
  width: 20px;
  text-align: center;
}
.fa-shopping-cart
{
  color:black;
  border-radius: 10px;
  width:20px;
  height:20px;
  text-align: center;
}
.fa-user:hover{
  background-color: red;
  border: solid 1px black;
}
.fa-shopping-cart:hover{
  background-color:red;
   border: solid 1px black;
}
/*End CSS Header*/
/*----------------------------------*/
/*CSS Menu*/
#aside a{
  text-decoration:none;
  display:inline-table;
  width:150px;
  height:30px;
  line-height:30px;
  color:black;
  float:left;
  margin-left:20px;
  background-color:white;
  overflow: auto;
  text-align: center;
  font-size: 15px;
}
#aside {
  background-color:white;
   width:1348px;
   overflow: hidden;
}
/*CSS khi trỏ chuột vao nội dung*/
#aside a:hover{
   text-decoration: underline;
}
/*End CSS Menu*/
/*----------------------------------*/

/*#left{
  float:left;
  width:10%;
  background-color:aqua; 
}
*/
/*CSS Ảnh giới thiệu*/
#anhnen div img{
  width: 580px;
  height: 400px;
}
#anhnen div {
  
}
/*End CSS Ảnh giới thiệu*/
/*------------------------------------*/
/*CSS Content*/
#content{
  background-color: #f8f8f8;
  width:1348px;
  text-align: center;

}
#content div a{
  margin-top:15px;
  font-size: 15px;
}
#noidungcontent {
  width: 1348px;
}
#noidungcontent a {
  text-decoration: none;
  color:black;
  margin: 0 10px;
  border: solid 1px #fff;
}
#noidungcontent a:hover {
  border: solid 1px #ddd;
}

#noidungcontent a:hover img{
  margin: 0 0 10px 0;
  transform: scale(1);
  opacity: 1; /*độ sáng bình thường*/
}
#noidungcontent img{
  display: block;
  width: 297px;
  height: 415.797px;
  margin: 10px 0 0 0; /* tren phai duoi trai*/
  border-radius: 5px;
  transform: scale(0.95);/* độ phóng to*/
  opacity: 0.9; /* độ sáng mờ 0.7*/
  transition-duration: 0.3s;/* thời gian chuyển ảnh lên*/
}
#sotrang{
  text-align: center;
}
#sotrang a{
  margin-left:5px;
  text-decoration:none;
  display:inline-table;
  color:black;
}
#sotrang a:hover{
  color:red;  
  width:20px;
  height: 20px;
  line-height: 20px;
  
}
/*End CSS Content*/
/*#right{
  float:left;
  width:10%;
  background-color: aqua;
}
*/
/*----------------------------------*/
/*CSS Footer*/
#footer{
  width: 1348px;
  background-color: #222;
}
#footer div a{
  text-decoration: none;
  display: block;
  margin-top:20px;
}
#footer div ul li{
  color:white;
}
#footer div ul li:hover{
  text-decoration: underline

}
#danhmucfooter1{
  float:left;
  color:white;
  width: 374px;
}
#danhmucfooter2{
  color: white;
  width: 374px;
}
#
}
/*End CSS Footer*/
/*----------------------------------*/
#tendangnhap{
  color:black;
}
#tendangnhap div a{
color:black;
}
#tendangnhap div a{
color:black;
}
#tendangnhap div a:hover:first-child{
  text-decoration: underline;
}
